[
    {rabbitmq_web_mqtt, [
        {ssl_config, [
            {cacertfile, "C:/Users/bakkenl/development/lukebakken/rabbitmq-server-4027/certs/ca_certificate.pem"},
            {keyfile, "C:/Users/bakkenl/development/lukebakken/rabbitmq-server-4027/certs/server_key.pem"},
            {certfile, "C:/Users/bakkenl/development/lukebakken/rabbitmq-server-4027/certs/server_certificate.pem"},
            {port, 15676},
            {versions, ['tlsv1.3','tlsv1.2']},
            {fail_if_no_peer_cert,false},
            {verify, verify_none},
            {ciphers, [
                "TLS_AES_256_GCM_SHA384","TLS_AES_128_GCM_SHA256",
                "TLS_CHACHA20_POLY1305_SHA256","TLS_AES_128_CCM_SHA256",
                "TLS_AES_128_CCM_8_SHA256","ECDHE-ECDSA-AES256-GCM-SHA384",
                "ECDHE-RSA-AES256-GCM-SHA384","ECDHE-ECDSA-AES256-CCM",
                "ECDHE-ECDSA-AES256-CCM8","ECDHE-ECDSA-AES256-SHA384",
                "ECDHE-RSA-AES256-SHA384","ECDHE-ECDSA-CHACHA20-POLY1305",
                "ECDHE-RSA-CHACHA20-POLY1305","ECDHE-ECDSA-AES128-GCM-SHA256",
                "ECDHE-RSA-AES128-GCM-SHA256","ECDHE-ECDSA-AES128-CCM",
                "ECDHE-ECDSA-AES128-CCM8","ECDH-ECDSA-AES256-GCM-SHA384",
                "ECDH-RSA-AES256-GCM-SHA384","ECDH-ECDSA-AES256-SHA384",
                "ECDH-RSA-AES256-SHA384","ECDH-ECDSA-AES128-GCM-SHA256",
                "ECDH-RSA-AES128-GCM-SHA256","ECDHE-ECDSA-AES128-SHA256",
                "ECDHE-RSA-AES128-SHA256","ECDH-ECDSA-AES128-SHA256",
                "ECDH-RSA-AES128-SHA256","DHE-RSA-AES256-GCM-SHA384",
                "DHE-DSS-AES256-GCM-SHA384","DHE-RSA-AES256-SHA256",
                "DHE-DSS-AES256-SHA256","DHE-RSA-AES128-GCM-SHA256",
                "DHE-DSS-AES128-GCM-SHA256","DHE-RSA-CHACHA20-POLY1305",
                "DHE-RSA-AES128-SHA256","DHE-DSS-AES128-SHA256",
                "ECDHE-ECDSA-AES256-SHA","ECDHE-RSA-AES256-SHA",
                "ECDH-ECDSA-AES256-SHA","ECDH-RSA-AES256-SHA",
                "ECDHE-ECDSA-AES128-SHA","ECDHE-RSA-AES128-SHA",
                "ECDH-ECDSA-AES128-SHA","ECDH-RSA-AES128-SHA",
                "DHE-RSA-AES256-SHA","DHE-DSS-AES256-SHA",
                "DHE-RSA-AES128-SHA","DHE-DSS-AES128-SHA"
            ]}
        ]},
        {tcp_config, [{port, 15675}]}
    ]}
].
